.app-container {
    padding: 20px;
    position: absolute;
    background: #eee;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    border-radius: 20px;
    top: 10%;
    left: 35%
}

.main-container {
    height: 70%;
}

.second-container {
    height: 30%;
    margin-bottom: 10px;
}

.title {
    background: #eee;
    height: 40px;
    font-size: 30px;
    font-family: 'Trocchi', serif;
    font-weight: normal;
    padding-left: 25px;
    margin: 0px;
}

.section-container {
    width: 100%;
    margin-bottom: 10px;
}

.header-container {
    width: 100%;
    margin-bottom: 10px;
}

.footer-container {
    width: 100%;
    margin-bottom: 10px;
}

.response {
    text-align: center;
    padding: 30px;
}

.btn.btn-primary {
    width: 120px;
    margin: 0 5px;
    background-color: #424e5c;
    border-color: #424e5c;
}

.btn.btn-primary:hover {
    color: #424e5c;
    background-color: #fff;
    border-color: #424e5c;
}